/* Main container */

/* Full width background of the header */
.header_outer_container {
  width: 100%;
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* INNER container */
.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

/* LEFT LIST + RIGHT LIST */
.header_left ul,
.header_right ul {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header_left li,
.header_right li {
  color: white;
  cursor: pointer;
}

/* Fix image alignment */
.header_left img {
  display: block;
}

/* Icons color */
.header_right svg {
  color: white;
  font-size: 28px;
}