.footer {
  background-color: #000;
  color: #757575;
  padding: 40px 80px;
  font-size: 14px;
}

/* ICONS SECTION */
.footer-icons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;     
}

.footer-icons .icon {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-icons .icon:hover {
  color: #e50914;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  margin: 20px 0;
  min-width: 150px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 12px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-col ul li:hover {
  color: #fff;
}

.footer-copy {
  margin-top: 30px;
  color: #757575;
  font-size: 13px;
}